[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
awsebcli = "*"
importlib-metadata = "==2.*"
channels = "*"
drf-yasg = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
